
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  transition: all .5s;

}

body,
input,
textarea,
select,
button {
  color: rgb(23, 23, 23);
  font: 300 1rem "Roboto", sans-serif;
  font-family: "Roboto" sans-serif;
}

.pointer {
  cursor: pointer;
}
.headings{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.headings h1, .headings h4{
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#pokemon-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.pokemon-name {
 text-align: center;
 font-size: 1.2rem;
}


.pokemon-img {
  width: 150px;
  display: inline-block;
}

.pokemon-details{
  margin-top: 2rem;
}
#pokemon-specs div, #pokemon-abilities div {
  margin-top: 1rem;
}
.answer{
  color: rgb(40, 61, 114);
}
.pokemon-item{
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid white;
  padding: 5px;
}
.pokemon-active{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pokemon-name{
  color:black;
}